---
import type { artistProps } from "src/types";

interface Props {
  artist: artistProps;
  hasTransition: boolean;
}
const { artist, hasTransition } = Astro.props;
---

<li
  class="flex-[0_0_9rem] w-96 rounded-lg color-[rgba(var(--content),1)] duration-150 gap-2"
>
  <a
    class="flex flex-col rounded-lg color-[rgba(var(--content),1)] duration-150 gap-2"
    href={`/artist/${artist.id}`}
  >
    <img
      src={artist.avatar}
      alt="yoasobi song"
      class="object-cover aspect-square w-full rounded-full"
      transition:name={hasTransition ? `${artist.id}-to-page` : undefined}
    />
    <h2 class="font-normal text-[18px] m-0 leading-5">
      {artist.name}
    </h2>
  </a>
</li>

<style>
  @media (hover: hover) {
    li:hover {
      background-color: rgba(var(--bg-contrast), 0.4);
    }
  }
</style>
