---
interface Props {
  isColumn?: boolean;
  isGrid?: boolean;
  isArtist?: boolean;
}
const { isColumn = false, isGrid = false, isArtist = false } = Astro.props;
---

<ul
  class="overflow-hidden"
  class:list={isColumn
    ? "flex flex-col gap-4"
    : isGrid
      ? "grid w-full grid-cols-2 gap-2"
      : "flex gap-4"}
>
  {
    new Array(6).fill(null).map(() => {
      return (
        <li
          class="gap-2"
          class:list={
            isColumn
              ? "w-full rounded-lg p-2"
              : isGrid
                ? "h-12 w-full bg-[rgb(255,255,255,0.1)] rounded-[4px]"
                : "flex-[0_0_10rem] w-96 rounded-lg p-2"
          }
        >
          <div
            class=" rounded-lg gap-3 relative"
            class:list={
              isColumn
                ? "w-full flex"
                : isGrid
                  ? "w-full flex items-center"
                  : "flex flex-col"
            }
          >
            <span
              class="relative aspect-square bg-[rgba(255,255,255,0.1)] skeleton-box overflow-hidden"
              class:list={
                isColumn
                  ? "w-12 skeleton-col rounded-md"
                  : isGrid
                    ? "w-12 h-12 rounded-[4px] skeleton-col"
                    : isArtist
                      ? "rounded-full skeleton"
                      : "w-full skeleton rounded-md"
              }
            />
            <span
              class="flex flex-col justify-center gap-2"
              class:list={isColumn ? "w-9/12" : isGrid ? "w-24 h-4" : "w-full"}
            >
              <span
                class="relative rounded-[4px] bg-[rgba(255,255,255,0.1)]  overflow-hidden"
                class:list={
                  isColumn
                    ? "h-4 skeleton-col skeleton-col-text"
                    : isGrid
                      ? "h-full skeleton skeleton-text"
                      : "w-full h-5 skeleton skeleton-text"
                }
              />
              <span
                class="relative rounded-[4px] bg-[rgba(255,255,255,0.1)] overflow-hidden "
                class:list={
                  isColumn
                    ? "h-2 skeleton-col skeleton-col-text before:!-left-[6.5rem] after:!-left-[5.5rem]"
                    : isGrid
                      ? "hidden"
                      : "w-full h-3 skeleton skeleton-span"
                }
              />{" "}
            </span>
          </div>
        </li>
      );
    })
  }
</ul>
