<div class="flex flex-col rounded-lg gap-3 relative w-full h-24">
  <span
    class="relative h-4 rounded-[4px] bg-[rgba(255,255,255,0.1)] skeleton-col skeleton-col-text overflow-hidden before:!-left-[5.3rem] after:!-left-[4.5rem]"
  ></span>
  <span
    class="relative h-4 rounded-[4px] bg-[rgba(255,255,255,0.1)] skeleton-col skeleton-col-text overflow-hidden"
  ></span>
  <span
    class="relative h-4 rounded-[4px] bg-[rgba(255,255,255,0.1)] skeleton-col skeleton-col-text overflow-hidden before:!-left-[6.5rem] after:!-left-[5.5rem]"
  ></span>
</div>
