---
import Layout from "../layouts/Layout.astro";
import List from "../components/List.astro";

const { tracks } = await fetch(
  "http://localhost:4321/api/get-tracks.json"
).then((data) => data.json());

const { artists } = await fetch(
  "http://localhost:4321/api/get-artists.json"
).then((data) => data.json());
---

<Layout title="MatSound">
  <main class="w-screen relative px-4 flex flex-col gap-6 pt-10 pb-40">
    <List
      type="Tracks"
      tracks={tracks}
      title="Recomendados"
      transition="to-page"
    />
    <!-- <List type="Albums" data={ALBUMS} title="Álbumes" transition="to-page" />-->
    <List
      type="Artists"
      artists={artists}
      title="Artistas escuchados"
      transition="to-page"
    />
  </main>
</Layout>
