---
import Layout from "@layouts/Layout.astro";
import SkeletonList from "@components/skeleton/SkeletonList.astro";
import Tracks from "@components/lists/Tracks.astro";
import Artists from "@components/lists/Artists.astro";
import Albums from "@components/lists/Albums.astro";
---

<Layout title="MatSound">
  <main class="w-screen relative px-4 flex flex-col gap-6 pt-10 pb-40">
    <section class="flex flex-col gap-2 z-20">
      <h2 class="text-xl font-semibold">Recomendados</h2>
      <Tracks server:defer hasTransition type="row">
        <SkeletonList slot="fallback" />
      </Tracks>
    </section>
    <section class="flex flex-col gap-2 z-20">
      <h2 class="text-xl font-semibold">Álbumes</h2>
      <Albums server:defer hasTransition type="row">
        <SkeletonList slot="fallback" />
      </Albums>
    </section>
    <section class="flex flex-col gap-2 z-20">
      <h2 class="text-xl font-semibold">Artistas</h2>
      <Artists server:defer hasTransition>
        <SkeletonList slot="fallback" />
      </Artists>
    </section>
  </main>
</Layout>
