---
import Layout from "@layouts/Layout.astro";
import Albums from "@components/lists/Albums.astro";
import Artists from "@components/lists/Artists.astro";
import Tracks from "@components/lists/Tracks.astro";
import { getAlbums, getArtists, getTracks } from "../queryFn";
import type { trackProps } from "../types";
export const prerender = false;
const { data: tracksData, errors } = await getTracks();
const { data: albumsData, errors: errorsAlbums } = await getAlbums();
const { data: artistsData, errors: errorsArtists } = await getArtists();
console.log(errors, errorsAlbums, errorsArtists);
if (!tracksData || !albumsData || !artistsData) return redirect("/404", 404);

const { tracks } = tracksData;
const { albums } = albumsData;
const { artists } = artistsData;
---

<Layout title="MatSound">
  <main class="w-screen relative px-4 flex flex-col gap-6 pt-10 pb-40">
    <h1>hola</h1>
    <Tracks
      tracks={tracks as trackProps[]}
      title="Recomendados"
      hasTransition
      type="row"
    />
    <Albums albums={albums} title="Álbumes" hasTransition />
    <Artists
      artists={artists}
      title="Artistas escuchados"
      hasTransition
      type="row"
    />
  </main>
</Layout>
