---
import Layout from "@layouts/Layout.astro";
import Albums from "@components/lists/Albums.astro";
import Artists from "@components/lists/Artists.astro";
import Tracks from "@components/lists/Tracks.astro";
import { getAlbums, getArtists, getTracks } from "../queryFn";
import type { trackProps } from "../types";

const { data: tracksData } = await getTracks();
const { data: albumsData } = await getAlbums();
const { data: artistsData } = await getArtists();
if (!tracksData || !albumsData || !artistsData) return;

const { tracks } = tracksData;
const { albums } = albumsData;
const { artists } = artistsData;
---

<Layout title="MatSound">
  <main class="w-screen relative px-4 flex flex-col gap-6 pt-10 pb-40">
    <h1>hola</h1>
    <Tracks
      tracks={tracks as trackProps[]}
      title="Recomendados"
      hasTransition
      type="row"
    />
    <Albums albums={albums} title="Álbumes" hasTransition />
    <Artists
      artists={artists}
      title="Artistas escuchados"
      hasTransition
      type="row"
    />
  </main>
</Layout>
