@import "tailwindcss";

@theme {
  --color-accent-950: hsl(230, 100%, 70%);
  --color-accent-900: hsl(230, 100%, 72%);
  --color-accent-800: hsl(230, 100%, 74%);
  --color-accent-700: hsl(230, 100%, 76%);
  --color-accent-600: hsl(230, 100%, 78%);
  --color-accent-500: hsl(230, 100%, 80%);
  --color-accent-400: hsl(230, 100%, 82%);
  --color-accent-300: hsl(230, 100%, 84%);
  --color-accent-200: hsl(230, 100%, 86%);
  --color-accent-100: hsl(230, 100%, 88%);
  --color-accent-50: hsl(230, 100%, 95%);
  --color-content-950: hsl(240, 100%, 99%);
  --color-content-900: hsl(240, 100%, 98%);
  --color-content-800: hsl(240, 100%, 97%);
  --color-content-700: hsl(240, 100%, 96%);
  --color-content-600: hsl(240, 100%, 95%);
  --color-content-500: hsl(240, 100%, 94%);
  --color-content-400: hsl(240, 100%, 93%);
  --color-content-300: hsl(240, 100%, 92%);
  --color-content-200: hsl(240, 100%, 91%);
  --color-content-100: hsl(240, 100%, 90%);
  --color-content-50: hsl(240, 100%, 88%);
  --color-background: hsl(0, 0%, 4%);
  --color-background-950: hsl(0, 0%, 8%);
  --color-background-900: hsl(0, 0%, 10%);
  --color-background-800: hsl(0, 0%, 18%);
  --color-background-700: hsl(0, 0%, 26%);
  --color-background-600: hsl(0, 0%, 34%);
  --color-background-500: hsl(0, 0%, 42%);
  --color-background-400: hsl(0, 0%, 50%);
  --color-background-300: hsl(0, 0%, 58%);
  --color-background-200: hsl(0, 0%, 66%);
  --color-background-100: hsl(0, 0%, 74%);
  --color-background-50: hsl(0, 0%, 77%);
  --color-contrast-950: hsl(239, 42%, 23%);
  --color-contrast-900: hsl(239, 42%, 30%);
  --color-contrast-800: hsl(239, 42%, 37%);
  --color-contrast-700: hsl(239, 42%, 44%);
  --color-contrast-600: hsl(239, 42%, 51%);
  --color-contrast-500: hsl(239, 42%, 58%);
  --color-contrast-400: hsl(239, 42%, 65%);
  --color-contrast-300: hsl(239, 42%, 72%);
  --color-contrast-200: hsl(239, 42%, 79%);
  --color-contrast-100: hsl(239, 42%, 86%);
  --color-contrast-50: hsl(239, 42%, 95%);
}

:root {
  --accent: 103, 125, 255;
  --content: 250, 250, 255;
  --bg: 18, 18, 18;
  --bg-contrast: 34, 35, 84;
}

* {
  font-optical-sizing: auto;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-style: normal;
}

li,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
body {
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  background: hsl(0, 0%, 4%);
  color: rgba(var(--content));
}

/*  scroll */

section {
  --sb-track-color: transparent /* hsl(0, 0%, 8%) */;
  --sb-thumb-color: hsl(0, 0%, 42%);
  --sb-size: 8px;
  scrollbar-gutter: stable !important;
}

section::-webkit-scrollbar {
  width: var(--sb-size);
  z-index: 20;
}

section::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 1px !important;
}

section::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color) !important;
  border-radius: 1px !important;
}

@supports not selector(::-webkit-scrollbar) {
  section {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color) !important;
  }
}

.slider-container {
  .slider-route:hover .slider-thumb {
    opacity: 1 !important;
  }
  .slider-route:hover + .hover-time {
    opacity: 1 !important;
  }
}

.player-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  transition: transform 300ms ease-in 0s;
  top: 100vh;
  z-index: 100;
  &:not(.is-closed) {
    transform: translateY(-100vh);
  }
}
.scroll-current-music {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    background: transparent;
    width: 0px;
  }
  & > div {
    position: relative;
    scroll-snap-align: center;
  }
}
.image-button {
  color: rgb(192, 192, 192);
  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 70px;
    background: conic-gradient(rgb(190, 190, 190) var(--angle), transparent 0deg 360deg);
    z-index: 10;
    animation: border-right 3s linear, border-completed 3s forwards;
  }
  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 70px;
    background-image: conic-gradient(rgb(190, 190, 190) var(--angle2), transparent 0deg 360deg);
    z-index: 10;
    animation: border-left 2.5s linear;
    transform: rotate(180deg);
  }
}

.imagePreviewScroll {
  scrollbar-width: thin !important;
}

@keyframes border-right {
  0% {
    --angle: 40deg;
    transform: rotate(0deg);
  }
  33% {
    --angle: 70deg;
  }
  66% {
    --angle: 200deg;
  }
  100% {
    transform: rotate(360deg);

    --angle: 360deg;
  }
}
@keyframes border-left {
  0% {
    --angle2: 40deg;
  }
  100% {
    transform: rotate(540deg);

    --angle2: 360deg;
  }
}
@keyframes border-completed {
  0%,
  99% {
  }
  100% {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>"; /* this can be angle or percentage */
  initial-value: 0deg;
  inherits: false;
}
@property --angle2 {
  syntax: "<angle>"; /* this can be angle or percentage */
  initial-value: 0deg;
  inherits: false;
}

.skeleton {
  &::before,
  &::after {
    content: "";
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    rotate: 20deg;
    animation: shine 1.5s infinite;
  }

  &.skeleton-box {
    &::before,
    &::after {
      top: -100px;
      height: 300%;
    }
    &::before {
      width: 5%;
      left: -6rem;
    }
    &::after {
      width: 15%;
      left: -4.5rem;
    }
  }
  &.skeleton-text {
    &::before,
    &::after {
      bottom: 0px;
      height: 8rem;
    }
    &::before {
      width: 5%;
      left: -6rem;
    }
    &::after {
      width: 15%;
      left: -4.5rem;
    }
  }
  &.skeleton-span {
    &::before,
    &::after {
      bottom: 24px;
      height: 8rem;
    }
    &::before {
      width: 5%;
      left: -6rem;
    }
    &::after {
      width: 15%;
      left: -4.5rem;
    }
  }
}
.skeleton-col {
  &::before,
  &::after {
    content: "";
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    rotate: 20deg;
  }
  &.skeleton-box {
    &::before,
    &::after {
      top: -2rem;
      height: 5rem;
      animation: box-col-shine 1.5s infinite;
    }
    &::before {
      width: 7%;
      left: -1.6rem;
    }
    &::after {
      width: 15%;
      left: -1rem;
    }
  }
  &.skeleton-col-text {
    &::before,
    &::after {
      top: -15rem;
      height: 15rem;
      animation: text-col-shine 1.5s infinite;
    }
    &::before {
      width: 1%;
      left: -6rem;
    }
    &::after {
      width: 5%;
      left: -5rem;
    }
  }
}
.date-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
@keyframes box-col-shine {
  to {
    transform: translateX(8rem);
  }
}
@keyframes text-col-shine {
  to {
    transform: translateX(30rem);
  }
}
@keyframes shine {
  to {
    transform: translateX(17rem);
  }
}
.shuffle-button {
  &:active > :first-child {
    display: none;
  }
  &:active > :last-child {
    display: block;
  }
}
.select-button {
  &:active,
  &:focus {
    .select-options {
      transform: translate(0, 18px);
      opacity: 1;
      visibility: visible;
    }
  }
  .select-options {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
  }
}

.player-mobile-bg {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9808298319327731) 0%,
    rgba(0, 0, 0, 0.87718837535014) 22%,
    rgba(0, 0, 0, 0.7679446778711485) 49%,
    rgba(0, 0, 0, 0.5858718487394958) 67%,
    rgba(0, 0, 0, 0.23853291316526615) 89%,
    rgba(255, 255, 255, 0) 98%
  );
}

.p-stepper-panels {
  background-color: hsl(0, 0%, 8%) !important;
  border-radius: 10px;
}
.p-stepper-content > span {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.p-datatable-wrapper {
  border-radius: 6px 6px 0 0 !important;
  background-color: #2e2e2e !important;
}
.p-datatable-thead > tr > th {
  background-color: #1a1a1a !important;
  border-color: #141414;
}
.p-datatable-tbody {
  background-color: #2e2e2e !important;
}
/* .p-paginator-page-start {
  background-color: #1a1a1a !important;
} */

.p-paginator-page.p-paginator-element.p-link.p-highlight {
  background-color: #1a1a1a !important;
}

.p-dropdown.p-inputwrapper,
.p-dropdown-items {
  background-color: #1a1a1a !important;
  border-color: #575757 !important;
}
.p-dropdown-item.p-highlight {
  background-color: #141414 !important;
  border-color: #141414;
}
.p-dropdown-item.p-highlight.p-focus {
  background-color: #2e2e2e !important;
  border-color: #575757 !important;
}

.p-dropdown-panel.p-component.p-ripple-disabled.p-connected-overlay-enter-done {
  border-color: hsl(0, 0%, 8%) !important;
}

.p-datatable-striped {
  width: 100% !important;
}
.blurred {
  filter: blur(10px);
}

.p-sidebar-mask.p-sidebar-bottom {
  z-index: 40 !important;
  background: var(--sidebar-bg) !important;
}
.glass {
  background: rgba(255, 255, 255, 0.08);
  /*  border: 0px solid transparent;
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.2), 0 16px 32px rgba(0, 0, 0, 0.12); */
  backdrop-filter: blur(2px) brightness(0.8);
  filter: url(#glass-distortion);
  /* -webkit-backdrop-filter: url(#frosted); */
  outline: 0;
  inset: 0;
  overflow: hidden;
  isolation: isolate;
}
.vinyl {
  animation: rotate 10s infinite linear;
}
@keyframes rotate {
  to {
    transform: rotateZ(360deg);
  }
}
.spin {
  animation: spin 0.8s linear 1 forwards;
  transform-origin: center;
  transform-box: fill-box; /* Asegura que el centro sea el del objeto mismo */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
