---
import Layout from '../../layouts/Layout.astro';
import List from '../../components/List.astro';

import { ALBUMS, ARTISTS, TRACKS } from '../../mock';
---

<Layout title="MatSound">
  <main class="w-screen relative px-4 flex flex-col gap-6 pt-10 pb-40">
    <List type="Tracks" data={TRACKS} title="Recomendados" transition="to-page"/>
  </main>
</Layout> 