---
import { Image } from "astro:assets";
import type { AlbumProps } from "../shared/types";

interface Props {
  image: string;
  name: string;
  id: string;
  transition?: "to-page";
}
const { image, name, id, transition } = Astro.props;
---

<li
  class="flex-[0_0_10rem] w-96 rounded-lg color-[rgba(var(--content),1)] duration-150 gap-2"
>
  <a
    class="flex flex-col rounded-lg color-[rgba(var(--content),1)] duration-150 gap-2"
    href={`/artist/${id}`}
  >
    <img
      src={image}
      alt="yoasobi song"
      class="object-cover aspect-square w-full rounded-full"
      transition:name={`${id}${transition ? "-" + transition : ""}`}
    />
    <h2 class="font-normal text-xl m-0 leading-5">
      {name}
    </h2>
  </a>
</li>

<style>
  @media (hover: hover) {
    li:hover {
      background-color: rgba(var(--bg-contrast), 0.4);
    }
  }
</style>
