---
import ExploreSection from "@components/ExploreSection.astro";
import Search from "@components/Search.astro";
import SearchedData from "@components/SearchedData.astro";
import SkeletonSearchItems from "@components/skeleton/SkeletonSearchItems.astro";
import { GoBack } from "@components/ui/GoBack";
import Layout from "@layouts/Layout.astro";
import { getSearchResults } from "src/queryFn";

const track = Astro.url.searchParams.get("track") || "";
const album = Astro.url.searchParams.get("album") || "";
const artist = Astro.url.searchParams.get("artist") || "";
const exact = Astro.url.searchParams.get("exact") || "";
const query = Astro.url.searchParams.get("q") || "";

const isSearched =
  track !== "" || album !== "" || artist !== "" || exact !== "" || query !== "";
---

<Layout title="Search">
  <GoBack client:load />
  <Search />
  {
    !isSearched ? (
      <section class="flex flex-col gap-2 pt-14">
        <h2 class="text-white font-bold">Explorar todo</h2>
        <ExploreSection server:defer>
          <SkeletonSearchItems slot="fallback" />
        </ExploreSection>
      </section>
    ) : (
      <section class="flex flex-col gap-2 pt-14">
        <SearchedData
          params={{ track, album, artist, exact, query }}
          server:defer
        >
          <SkeletonSearchItems slot="fallback" isColumn />
        </SearchedData>
      </section>
    )
  }
</Layout>
